.container {
  padding: 2% 10%;
}

.events__subHeading {
  font-size: 16px;
}

.eventsGrid {
  padding: 0rem;
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.eventCard {
  list-style-type: none;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(225, 226, 230);
  margin: 1.5rem 0;
}
.eventCard:hover {
  background-color: #e4ecff;
  border: 2px solid;
  border-color: dodgerblue;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08),
    0 12px 20px 0 rgba(0, 0, 0, 0.08);
}

.eventCard__image {
  width: 100%;
  height: auto;
  max-height: 230px;
  border-radius: 9px 9px 0px 0px;
}
.eventCard__textContainer {
  margin: 12px;
}
.topicText {
  font-size: 14px;
  color: slategray;
}
.eventCard__title {
  font-size: 20px;
}


@media screen and (max-width: 830px) {
  .container {
    padding: 3% 5%;
  }

  .eventCard {
  margin: 1rem 0;
}

.topicText {
  font-size: 16px;
}

.eventCard__title {
   font-size: 22px;
 }

}
