.container {
  padding: 0 10%;
}

.isLoading {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: dodgerblue;
  padding: 4% 15%;
}

/* .isLoading2 {
  font-weight: 400;
  font-size: 15px;
} */

.hero {
  color: white;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-bottom: 46px;
}

.hero__image {
  position: absolute;
  width: 100%;
}

.hero__overlay {
  position: absolute;
  background-color: rgba(17, 0, 146, 0.45);
  height: 100%;
  width: 100%;
}

.hero__textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__heading {
  text-align: center;
}

.hero__subHeading {
  font-size: 20px;
  font-weight: 600;
}

.hero__buttonContainer {
  display: flex;
  justify-content: center;
}

.hero__button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: dodgerblue;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: 0;
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.hero__button:hover {
  background-color: rgb(56, 155, 255);
}

.eventsGrid {
  padding: 0rem;
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.eventCard {
  list-style-type: none;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(225, 226, 230);
  margin: 1.5rem 0;
}
.eventCard:hover {
  background-color: #e4ecff;
  border: 2px solid;
  border-color: dodgerblue;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08),
    0 12px 20px 0 rgba(0, 0, 0, 0.08);
}

.eventCard__image {
  width: 100%;
  height: auto;
  max-height: 230px;
  border-radius: 9px 9px 0px 0px;
}
.eventCard__textContainer {
  margin: 12px;
}
.topicText {
  font-size: 14px;
  font-weight: 600;
  color: slategray;
}
.eventCard__title {
  font-size: 20px;
}

.underlined {
  font-weight: 700;
  color: dodgerblue;
}

.underlined:hover {
  color: rgb(56, 155, 255);
  text-decoration: underline;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 0 5%;
  }

  .hero {
    height: 450px;
    margin-bottom: 0;
  }

  .hero__button {
    width: 100%;
  }

  .eventCard {
    margin: 1rem 0;
  }

  .topicText {
    font-size: 16px;
  }

  .eventCard__title {
    font-size: 22px;
  }
}
