/* .active {
  background-color: red;
  color: blue;
} */

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  z-index: 2;
  /* margin: 0 10%; */
  padding: 0 10%;
  background-color: lightgray;
}

.body {
  border: none;
  margin: 0;
  padding: 0;

}
.title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.2s;
}

.title:hover {
  color: blue;
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 46px;
  list-style: none;
}

.menuItems a {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.2s;
}

.menuItems a:hover {
  color: blue;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 5%;
  }

  .title {
    font-size: 21px;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 6px;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 4%;
    gap: 2px;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    width: 36px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    border-radius: 10px;
    background: lightgray;
    padding: 24px 36px;
    /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
