.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  margin: 18px 10%;
}

.body {
  border: none;
  margin: 0;
  padding: 0;
}
.title__container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  font-weight: 700;
  color: #4a5be5;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.title__icon {
  width: 28px;
  height: 28px;
}
.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 46px;
  list-style: none;
  margin: 0;
}

.menuItems a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.menuItems a:hover {
  color: #4a5be5;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 18px 5%;
  }
  
    .title__container {
      font-size: 24px;
    }

  .title__icon {
    width: 26px;
    height: 26px;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    width: 26px;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 4px;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    border-radius: 10px;
    background: #f1f1f1;
    padding: 28px 36px;
    margin: 14px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
